*{
  font-family:'Franklin Gothic Medium', Courier, 'Arial Narrow', Arial, sans-serif;
}

.flex-container{
    display: flex;
}
.card-tile:hover .title {
    opacity: 1;
}

.card-tile:hover .card-image {
    opacity: 0.3;
}

.card-tile {
    margin: 20px;
}

.card-image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .title {
    transition: .5s ease;
    opacity: 0;
  }

.card-title{
  color: rgba(241, 245, 9, 0.966);
  background-color: rgba(36, 31, 31, 0.938);
  font-size: 16px;
  font-family:'Franklin Gothic Medium', Courier, 'Arial Narrow', Arial, sans-serif;
  padding: 16px 32px;
}

.report {
  margin-bottom: 20px;
  padding: 10px;
  border: solid;
  border-radius: 5px;
  border-color: rgba(96, 98, 226, 0.703);

}

#welcome {
  padding-right: 20px;
}

Card.Image {
  width: 50px;
  height: 50px;
}

.button {
  border-radius: 10px;
  border-color: rgb(235, 106, 151);
  margin-right: 10px;
  margin-bottom: 20px;
}

.navbar{
  background-color: rgba(102, 132, 217, 0.689);
  margin-bottom: 30px;
}